@charset "UTF-8";
/* CSS Document */


/* DONT FORGET TO FORMAT THIS STUFF TO MAKE IT MAKE SENSE AND HAVE AN ORDER BINCH*/


/*Remove this rule, this is only for demo purposes to make the boxes black with white text
The line height on the <p> tag gives each box a height value*/

@font-face {
font-family: "BebasNeue-Regular";
src: url("../assets/documents/font/BebasNeue-Regular.eot");
src: url("../assets/documents/font/BebasNeue-Regular.woff") format("woff"),
url("../assets/documents/font/BebasNeue-Regular.otf") format("opentype"),
url("../assets/documents/font/BebasNeue-Regular.ttf") format("truetype")
}

p
{
	margin: 0;
}

/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body
{
	font-family: BebasNeue-Regular, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333;
}


/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited 
{ 
 	text-decoration:none; 
}

a:hover, a:active 
{ 
	text-decoration: none;
	border-bottom: 4px solid currentColor; 
	padding-bottom: 2px;
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*section is block level and no width specidied therefore stretches full screen*/
#topBar
{
	background-color: #000;
	margin: auto;
	height: 20px;
	width: 955px;
}

/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 955px;
	padding-left: 20px;
	padding-right: 20px;
}

/*This is a flex container*/
#mainHeader
{
	background-color: #D1D1D1;
	padding: 0px 40px 0px 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 1px #DDD;

}



/*This is a flex item*/
#logo
{
	width: 200px;
	height: 200px;
	padding: 42px 0px 42px 0px;
}

/* Color for the links in the header 
Padding lets the whole color be the button*/
.headerLinks a
{
	font-family: BebasNeue-Regular, Helvetica, Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	color:#196F86;
	padding: 45px 120px 45px 120px;
}

/* To do the styling which is the same for both sides of the links*/
.headerLinks
{
	margin-top: auto;
	margin-bottom: auto;
	width: 360px;
	line-height: 109px;
	text-align: center;
	font-size: 20px;	
	background-color: #fff

}

/*individually send them to the far left and far right*/
#leftNav 
{
	margin-right: auto;
}
#rightNav
{
	margin-left:auto;
}


#promo 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#promo p 
{
	line-height: 250px;
}

#promoText 
{
	width: 600px;
}

#promoImage 
{
	margin-left: auto;
	width: 280px;
}

#productInfo 
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

/*Get rid of this, here just to give different height to productInfo*/
#productInfo p 
{
	line-height: 300px;
}

.productDesc 
{
	width: 200px;
}

#mainFooter 
{
	margin-top: 80px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	background-color: #D1D1D1;
  	height: 106px;
}

#footerNav 
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 217px;
	height: 30px;
	margin:58px 29.5px; 
	font-size: 24px;

}


#footerSocial img{
	margin:45px 5px 58px 5px;
}

#footerNav a
{
	color: #BA1C07;

}

#copyRight 
{
	height: 30px;
	margin: 58px 29.5px 0px 0px; 
	margin-left: auto;
	font-size: 24px;
	color: #BA1C07;
}

/*Page 2 - Notice we are using one style sheet for all of the pages*/

#contentCon {
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
  	height:500px;
}

/*Get rid of this, here just to give different height to promo*/

#aboutHeading
{
	color: #f00;
}

#aboutPortrait 
{
	width: 440px;
	height: 500px;

}

#aboutText 
{
	margin-left: auto;
	width: 440px;
}

/*Page 3*/

#productImages 
{
	margin: 40px 0px 40px ;
	display: flex;
	flex-direction: row;
	flex-wrap: all;
  	justify-content: space-evenly;


}

/* Added to img For testing purposes, images should be edited to these sizes*/
.artImg 
{
	width: 280px;
	height: 280px;
	background-color: #0ff;
	cursor:pointer;

}



.productImgIndex 
{
	
	font-size: 32px;
	letter-spacing: 0px;
	line-height: 32px;
	padding: 184px 40px 40px;
	text-align: left;
	color: #fff;
	background-color: #000;
	margin:15px;
	width:270px;
}

.GDimage
{
	/*background-image: url(../images/test.jpeg);*/
}
.CharIimage
{
	/*background-image: url(../images/test.jpeg);*/
}
.PHOTOGimage
{
	/*background-image: url(../images/test.jpeg);*/
}

#contentAreaBigIndex
{
	padding-bottom: 40px;
	margin: 45px 0px 75px;
	background-color: #000;
	background-image: url(../images/test.jpeg);
}


#indexTitle{
	font-size: 134px;
	line-height: 97px;
	text-align: center;
	color:#000;
	padding: 47px 0px 37px;
	margin: 0px ;
	}

#indexBody{
	text-align: center;
	font-size: 28px;
	width:750px;
	margin:auto;
	color:#EFB321;
	line-height: 33px;
}

#promoImageBig
{
	width: 920px;
}


/*Page 4*/

.productDescLargeLeft 
{
	width: 410px;
}

.productDescLargeRight 
{
	width: 410px;
}

.contactHeading
{
	font-family: arial;
	font-size: 30px;
	text-align: center;
}

#contentContact1
{
	margin-top: 60px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 60px;
	margin-bottom: 120px;
	background-color: #000;
}

#contentContact2
{
	margin-top: 60px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 60px;
	margin-bottom: 120px;
	background-color: #000;
}
